#footer{
    height: 150px;
    width: auto;
    display: grid;
    grid-template-columns: 30% 40% 1fr;
    padding: 10px;
}

#col1{
    padding-left: 10px;
}

.linkss{
    color: white;
    font-size: 17px;
    font-weight: 500;
}

.rightt{
    color: white;
    font-size: 19px;
}