#project{
    padding-left: 30px;
    padding-right: 20px;
}
#projlist{
    display: grid;
    grid-template-columns: 49% 1fr;
    gap: 30px;
}

.proj{
    background-color: #407b94;
    padding: 5px;
    /* padding-left: 20px; */
    border-radius: 20px;
    padding-left: 20px;
    color: black;

}
.pr{
    color: white;
    margin: 0px;
}
.projtit{
    font-size: 23px;
    font-weight: 600;
    margin: 0px;
    padding: 0px;
}
.projdes{
    font-size: 13px;
    padding-right: 10px;
    margin: 0px;
}
.projtech{
    font-size: 14px;
    font-style: italic;
    font-weight: 200;
}
.projimg{
    padding-top: 20px;
    height: 200px;
    width: auto;
    border-radius: 10px;
}
.but{
    display: grid;
    grid-template-columns: 60% 1fr;
    align-items: end;
    justify-items: center;
}
button{
    background-color: #173156;
    height: 40px;
    width: 150px;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    cursor: pointer;
}