#project{
    padding-left: 30px;
    padding-right: 20px;
}
#projlist{
    display: grid;
    grid-template-columns: 49% 1fr;
    gap: 30px;
}

.proj{
    background-color: rgb(64, 123, 148, 0.6);
    border: 2px solid rgb(255, 255, 255, 0.5);
    padding: 5px;
    /* padding-left: 20px; */
    border-radius: 20px;
    padding-left: 20px;
    color: black;

}
.pr{
    color: white;
    margin: 0px;
}
.projtit{
    font-size: 23px;
    font-weight: 600;
    margin: 0px;
    padding: 0px;
}
.projdes{
    font-size: 13px;
    padding-right: 10px;
    margin: 0px;
}
.projtech{
    font-size: 14px;
    font-style: italic;
    font-weight: 200;
}
.projimg{
    padding-top: 20px;
    height: 200px;
    width: auto;
    border-radius: 10px;
}
.but{
    display: grid;
    grid-template-columns: 60% 1fr;
    align-items: end;
    justify-items: center;
}
.buttonn{
    background-color: #173156;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    /* background-color: #173156;
    height: 30px;
    width: 150px;
    
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    cursor: pointer; */
}